<section class="flex flex-col justify-center items-center">
  {{#if error}}
  <article class="hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-blue-500 bg-blue-500/20 col-span-2">
    <p class="italic underline text-lg">{{this.error}}</p>
  </article>
  {{else}}
  <article class="hover:shadow-lg shadow-orange-400 flex flex-col items-center">
    <table class="border-2 border-blue-500">
      <tr class="border-2 border-blue-500">
        <th class="font-bold border-2 border-blue-500 px-2">Artículo</th>
        <th class="font-bold border-2 border-blue-500 px-2">Precio</th>
        <th class="font-bol border-2 border-blue-500 px-2">Imagen</th>
      </tr>
      {{#each data}}
      <tr class="w-fit border-2 border-blue-500">
        <td class="border-2 border-blue-500 px-2">{{this.title}}</td>
        <td class="border-2 border-blue-500 px-2 text-center">${{this.price}}</td>
        <td class="flex border-1 border-blue-500 p-2 justify-center box-border"><img class="h-10" src={{this.thumbnail}} alt={{this.name}}></td>
      </tr>
      {{/each}}
    </table>
  </article>
  {{/if}}
</section>